html, body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, sans-serif;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.main-section-content {
  width: 80%;
  min-height: calc(100vh - 90px);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-section-content__item {
  width: 90%;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 20px;
  margin-top: 5%;
}

.main-section-header {
  width: 80%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFB932;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.main-section-header__nav {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section-header__nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-section-header__nav-list__item {
  display: block;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
}

.main-section-header__nav-list__item a {
  font-family: Ubuntu, sans-serif;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  width: 90px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  font-weight: bold;
  transition: all 0.2s;
}

.main-section-header__nav-list__item a:hover {
  background-color: #FFB932;
  border: 2px solid #fff;
  color: #fff;
}

.main-section-header__nav-list__item.main-section-header__nav-list__item--active a {
  background-color: #FFB932;
  border: 2px solid #fff;
  color: #fff;
}
